<!DOCTYPE html>
<html>
<head>


  <!-- connect Bootstrap -->
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">

  <nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>

			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/articles">Blog Rails</a></li>
			      <li><a href="/articles/new">New</a></li>
            <li><a href="/contacts">Contacts</a></li>


            <%  if user_signed_in? %>




          <li><%= link_to "Sign out", destroy_user_session_path , method: :delete %></li>
          <li><a href=""> hello <%= current_user.username %>!</a></li>
            <% else %>

            <li><%= link_to 'Sign in' , new_user_session_path %></li>

            <% end %>

			    </ul>

      	</div><!--/.nav-collapse -->


<!-- I  tried debug halper -->
        <%= debug(params)%>
        <%= params.inspect%><br/>
        <%= current_user.inspect%>
        </nav>
<!-- this is references to /users/sign_in and users/sign_out -->






  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</div>
</body>
</html>
